.seatings {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 80vh;

    .screens {
        width: fit-content;
        align-items: center;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;

        // SeatPicker.scss

        .seat-picker {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 50vw;
        }
        
        .seat {
            width: 40px;
            height: 40px;
            background-color: #e2e2e2;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        
            &.selected {
            background-color: #8bc34a;
            color: white;
            }

            &.reserved {
            background-color: #f44336;
            color: white;
            }
        }
  

        h3 {
            background-color: bisque;
            padding: 1rem;
            width: 100%;
        }
    }
}
