.header {
    position: relative;
    display: flex;
    flex-direction: column;

    .navbar {
        position: relative;
        display: flex;
        top: 0;
        background-color: #444444;
        width: 100%;
        height: 5rem;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    
        #filled {
            background-color:#c1c7c9;
        }
    
        .title {
            color: #c1c7c9;
            transition: all 0.3s ease;
    
            &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            }
        }
    
        #filled-basic {
            background-color: #c1c7c9;
            border-radius: 0.5rem;
            width: 30rem;
        }
    
        .menubar {
            display: flex;
            flex-direction: row;
    
            .subtitle {
                color: #c1c7c9;
                margin-left: 3rem;
                margin-right: 3rem;
                transition: all 0.3s ease;
    
                &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease;
                }
            }
        }
    }

    .searchresult {
        position: relative;
        height: 3rem;
    }
}